* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: #1b1b1b;
  font-family: sans-serif;
  color: #fff;
}

.logo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.heading {
  display: none;
}
.speak-button {
  padding: 10px 20px;
  background-color: #b5cff8;
  outline: none;
  border: none;
}
